html {
  font-size: 1rem;
}

@media (min-width: 768px) {
  html {
    font-size: 1rem;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem rgb(214, 215, 216);
}

html {
  position: relative;
  min-height: 100%;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

body {
  min-height: 100vh;
}

body .main-container {
  flex: 1;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
}

main {
  min-height: 100vh;
  justify-content: center;
}

.main-index {
  display: flex;
  flex-direction: column;
  margin-top: 4.5rem;
  margin-bottom: 4rem;
}

.main-index .tag,
.useraccount .tag {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  width: 100%;
  background-color: white;
  top: 3.5rem;
}

.main-index .tag .btn,
.useraccount .tag .btn {
  height: 40px;
  width: 100px;
  background-color: rgb(242, 242, 242) !important;
  margin-left: 6px;
  margin-right: 6px;
}

.main-index .tag .btn:hover,
.useraccount .tag .btn:hover {
  background-color: rgb(180, 180, 180) !important;
}

.index {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.index .title {
  margin-top: 1rem;
}

.index h1,
.index p {
  text-align: center;
}

.index .card-index,
.useraccount .container .card-index {
  flex: 0 0 30%;
  margin: 2px;
  width: 500px;
  height: 150px;
  border-radius: 10px;
}

.index .card-index .card-index-body,
.useraccount .container .card-index .card-index-body {
  background-color: transparent;
  border-top: 1px solid;
  border-bottom: 0px;
  border-right: 0px;
  border-left: 0px;
  margin: 0px;
  flex: 1;
  padding: 10px;
  max-width: 500px;
  justify-content: space-between;
  height: 135px;
  width: 100%;
}

.index .card-index .card-index-body .content,
.useraccount .container .card-index .card-index-body .content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: space-between;
  margin-right: 10px;
}

.index .card-index .card-index-body img,
.useraccount .container .card-index .card-index-body img {
  width: 170px;
  height: 100%;
}

.useraccount {
  margin-top: 4.5rem;
  margin-bottom: 4rem;
}

.useraccount .container {
  max-width: 750px;
}

.useraccount small {
  margin: 0;
  font-size: 0.8125rem;
}

.userposts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userposts .new-blog {
  width: 100px;
  position: relative;
  right: -185px;
}

.delete-post {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

.delete-post h3 {
  text-align: center;
}

.user {
  cursor: default;
}

#search-form {
  display: flex;
  margin-right: 10px;
}

#search-form .btn {
  border-color: #d4d2d2;
}

#search button {
  align-items: center;
  justify-content: center;
}

#search-input:focus {
  border: 1px solid rgb(194, 194, 194);
}

.profile-container {
  position: relative;
  cursor: pointer;
  align-content: center;
}

#side-nav {
  position: absolute;
  top: 2.5rem;
  right: 0;
  width: 200px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(210, 210, 210);
  display: none;
}

#side-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#side-nav li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

#side-nav a:hover,
#side-nav button:hover,
header ul li a:hover,
#profile-trigger:hover {
  font-weight: 700;
}

.navbar-right .nav .profile-container label {
  cursor: pointer;
}

.navbar-right .nav .profile-container #side-nav ul li .btn {
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
}

.navbar-right .nav .profile-container #side-nav ul {
  border-bottom: 1px solid;
}
.navbar-right .nav .profile-container #side-nav i,
iconify-icon {
  margin-right: 10px;
}

.register {
  display: flex;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  background-color: rgba(255, 255, 255, 0.9);
  align-self: center;
}

.register .card-body .c-body,
.verifyaccount .card-body .c-body {
  padding: 5px;
  margin: 0;
  width: 100%;
  justify-content: space-between;
}

.register .card-body .c-body .card-title {
  margin: 0.5rem;
}

.viewpost {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  margin-top: 5rem;
}

.viewpost h2 {
  text-align: center;
}

.viewpost .container {
  height: 100%;
  overflow-wrap: break-word;
}

.viewpost .container article {
  text-align: justify;
}

.createpost #titlename {
  margin-bottom: 0.8rem;
}

.createpost .imagefile {
  margin-top: 0.8rem;
}

.createpost .cancel {
  margin-right: 6px;
}

.createpost #btn {
  display: flex;
  justify-content: end;
}

.createpost,
.editpost {
  margin-top: 5rem;
  margin-bottom: 4rem;
  width: 859px;
}

.login {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  background-color: rgba(255, 255, 255, 0.9);
  align-self: center;
}

.login .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login h1 {
  text-align: center;
}

.login .d-grid {
  padding-top: 10px;
}

.login .mt-3 a {
  text-align: center;
  text-decoration: none;
}

.verifyaccount {
  display: flex;
  justify-content: center;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
  background-color: rgba(255, 255, 255, 0.9);
}

.verifyaccount .card-body {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed !important;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  background-color: white;
}

footer .container {
  color: black;
}
